html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none; }

strong, b {
  font-weight: bold; }

:focus, :active {
  outline: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text-color {
  color: #ff5500; }

.color-orange {
  color: #ff5500; }

.color-white {
  color: #ffffff; }

.color-primary {
  color: #3366ff; }

.btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-weight: 700;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn--border {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.6); }
    .btn--border:hover {
      color: #ffffff;
      border-color: #ffffff; }
    .btn--border-gray {
      height: 2.75rem !important;
      background: -webkit-gradient(linear, left top, right top, from(#67809f), to(#22313f));
      background: -webkit-linear-gradient(left, #67809f, #22313f);
      background: -o-linear-gradient(left, #67809f, #22313f);
      background: linear-gradient(to right, #67809f, #22313f);
      border-radius: 30px;
      color: #333333 !important;
      display: inline-block;
      padding: 1px !important;
      text-decoration: none;
      max-width: 11.25rem;
      width: 100%;
      border-color: transparent; }
      .btn--border-gray:hover, .btn--border-gray:focus, .btn--border-gray:active {
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-image: -webkit-gradient(linear, left top, right top, from(#67809f), to(#22313f)) !important;
        background-image: -webkit-linear-gradient(left, #67809f, #22313f) !important;
        background-image: -o-linear-gradient(left, #67809f, #22313f) !important;
        background-image: linear-gradient(to right, #67809f, #22313f) !important; }
      .btn--border-gray span {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #fff;
        border-radius: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 11.25rem; }
        @media (max-width: 991px) {
          .btn--border-gray span {
            width: 100%; } }
  .btn-white {
    font-size: 1.125rem;
    height: 3.75rem;
    color: #3366ff;
    background: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 51, 51, 0.3);
    box-shadow: 25px 20px 40px 0 rgba(51, 51, 51, 0.3); }
    .btn-white:hover {
      color: #3366ff;
      -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 51, 51, 0.5);
      box-shadow: 25px 20px 40px 0 rgba(51, 51, 51, 0.5); }
    .btn-white.-small {
      height: 2.8125rem;
      font-size: 0.875rem;
      padding: 0 3.5rem; }
  .btn-primary {
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    color: #ffffff;
    background: #3366ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 0 3rem;
    letter-spacing: -0.2px;
    -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2);
    box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2);
    background-size: 200% auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#3366ff), color-stop(40%, #1241ce), color-stop(60%, #1241ce), to(#3366ff));
    background-image: -webkit-linear-gradient(left, #3366ff 0%, #1241ce 40%, #1241ce 60%, #3366ff 100%);
    background-image: -o-linear-gradient(left, #3366ff 0%, #1241ce 40%, #1241ce 60%, #3366ff 100%);
    background-image: linear-gradient(to right, #3366ff 0%, #1241ce 40%, #1241ce 60%, #3366ff 100%);
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    .btn-primary span {
      position: relative;
      pointer-events: none; }
    .btn-primary:focus, .btn-primary:active {
      -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2) !important;
      box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2) !important; }
    .btn-primary:hover {
      color: #ffffff;
      background-position: right center; }
    .btn-primary.-large {
      font-size: 1.125em;
      height: 3.75rem; }
    .btn-primary.-small {
      height: 2.8125rem;
      font-size: 0.875rem;
      padding: 0 3.5rem; }
    .btn-primary.disabled {
      color: #ffffff;
      border: none;
      background-color: #cccccc;
      background-image: none; }
  .btn-secondary {
    height: 2.8125rem;
    min-width: 2.8125rem;
    padding: 0 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.875em;
    border-radius: 30px;
    text-decoration: none;
    color: #3366ff;
    background-color: transparent;
    border: 1px solid;
    border-color: rgba(51, 102, 255, 0.5); }
    .btn-secondary:focus, .btn-secondary:active {
      border-color: #3366ff !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #3366ff !important;
      background-color: transparent !important; }
    .btn-secondary:hover {
      color: #3366ff;
      border-color: #3366ff;
      background-color: transparent; }
    .btn-secondary.disabled {
      color: #cccccc;
      border-color: #cccccc;
      background-color: transparent; }
  .btn-gradient-gray {
    width: 100%;
    max-width: 270px;
    color: #ffffff;
    background: #3366ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding: 0 3rem;
    letter-spacing: -0.2px;
    -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2);
    box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2);
    background-size: 200% auto;
    background-image: -webkit-gradient(linear, left top, right top, from(#67809f), color-stop(40%, #22313f), color-stop(60%, #22313f), to(#67809f));
    background-image: -webkit-linear-gradient(left, #67809f 0%, #22313f 40%, #22313f 60%, #67809f 100%);
    background-image: -o-linear-gradient(left, #67809f 0%, #22313f 40%, #22313f 60%, #67809f 100%);
    background-image: linear-gradient(to right, #67809f 0%, #22313f 40%, #22313f 60%, #67809f 100%);
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
    .btn-gradient-gray:focus, .btn-gradient-gray:active {
      -webkit-box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2) !important;
      box-shadow: 25px 20px 40px 0 rgba(51, 102, 255, 0.2) !important; }
    .btn-gradient-gray:hover {
      color: #ffffff;
      background-position: right center; }
    .btn-gradient-gray.-large {
      font-size: 1.125em;
      height: 3.75rem; }
    .btn-gradient-gray.-small {
      height: 2.8125rem;
      font-size: 0.875rem;
      padding: 0 3.5rem; }
  .btn-icon {
    padding: 0; }
  .btn.disabled {
    cursor: default;
    pointer-events: none; }
  .btn:focus, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0; }


    .btn-header {
      border: 1px solid #22313f;
      border-radius: 25px;
      padding: .65rem 2rem;
      color: #22313f;
      font-weight: 600;
    }
    .btn-header:hover {
      border: 1px solid #233240;
      background: #667e9d;
      background: -moz-linear-gradient(left, #667e9d 0%, #233240 100%);
      background: -webkit-linear-gradient(left, #667e9d 0%, #233240 100%);
      background: linear-gradient(to right, #667e9d 0%, #233240 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#667e9d', endColorstr='#233240', GradientType=1);
      color: #ffffff;
    }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex--column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .flex--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex--align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .flex--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .flex--space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.col.half {
  width: 48%; }

.col.third {
  width: 30.5%; }

.col.quarter {
  width: 24%; }

.col.fifth {
  width: 19%; }

.col.sixth {
  width: 14%; }

.title {
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: normal;
  font-family: "Merriweather", serif; }
  .title--main {
    font-weight: 300; }
    .title--main {
      font-size: 30px; }
      @media screen and (min-width: 360px) {
        .title--main {
          font-size: calc(30px + 38 * ((100vw - 360px) / 1240)); } }
      @media screen and (min-width: 1600px) {
        .title--main {
          font-size: 68px; } }
  .title--big {
    font-weight: 300;
    max-width: 600px; }
    .title--big {
      font-size: 22px; }
      @media screen and (min-width: 360px) {
        .title--big {
          font-size: calc(22px + 28 * ((100vw - 360px) / 1240)); } }
      @media screen and (min-width: 1600px) {
        .title--big {
          font-size: 50px; } }
  .title--small {
    font-size: 1.125em; }
  .title--medium {
    font-size: 22px; }
    @media screen and (min-width: 360px) {
      .title--medium {
        font-size: calc(22px + 10 * ((100vw - 360px) / 1140)); } }
    @media screen and (min-width: 1500px) {
      .title--medium {
        font-size: 32px; } }
  .title--normal {
    font-size: 1.625em; }
  .title--upper {
    font-weight: 500;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif; }
    .title--upper {
      font-size: 11px; }
      @media screen and (min-width: 360px) {
        .title--upper {
          font-size: calc(11px + 2 * ((100vw - 360px) / 1140)); } }
      @media screen and (min-width: 1500px) {
        .title--upper {
          font-size: 13px; } }
    .title--upper.-small {
      line-height: 1.4;
      font-size: 0.625rem;
      letter-spacing: 1px; }
  .title.-white {
    color: #ffffff; }
  .title.medium {
    font-weight: 500; }
  .title.light {
    font-weight: 300; }

.text {
  color: inherit;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }
  .text {
    font-size: 14px; }
    @media screen and (min-width: 360px) {
      .text {
        font-size: calc(14px + 4 * ((100vw - 360px) / 840)); } }
    @media screen and (min-width: 1200px) {
      .text {
        font-size: 18px; } }
  .text--light {
    font-weight: 300; }
  .text--light2 {
    font-weight: 300;
    max-height: 3em;
    min-height: 3em;
  }
  .text--highlight {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.75em;
    font-family: "Merriweather", serif; }
    .text--highlight {
      font-size: 18px; }
      @media screen and (min-width: 360px) {
        .text--highlight {
          font-size: calc(18px + 10 * ((100vw - 360px) / 1140)); } }
      @media screen and (min-width: 1500px) {
        .text--highlight {
          font-size: 28px; } }
    .text--highlight.light {
      font-weight: 300; }
    .text--highlight.-smaller {
      font-size: 1.5em; }
      .text--highlight.-smaller {
        font-size: 18px; }
        @media screen and (min-width: 360px) {
          .text--highlight.-smaller {
            font-size: calc(18px + 6 * ((100vw - 360px) / 1140)); } }
        @media screen and (min-width: 1500px) {
          .text--highlight.-smaller {
            font-size: 24px; } }
  .text--big {
    line-height: 1.2;
    font-size: 4.0625rem; }
  .text--medium {
    font-size: 1.3125rem; }
  .text--small {
    font-size: 0.875rem; }
  .text.medium {
    font-weight: 500; }
  .text.light {
    font-weight: 300; }
  .text.-white {
    color: #ffffff; }
  .text-center {
    text-align: center; }

  .text.light2 {
    font-weight: 300;
    min-height: 4em;
    max-height:4em;
     }

.font-base {
  font-size: 1rem; }

.textlink {
  color: #333333;
  font-weight: 300;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .textlink::after {
    content: "";
    width: 6px;
    height: 6px;
    margin-left: .4rem;
    top: calc(50% / 2);
    position: absolute;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .textlink:hover {
    color: #ff5500; }
    .textlink:hover::after {
      border-color: #ff5500; }
  .textlink.color-white {
    color: #ffffff; }
    .textlink.color-white::after {
      border-color: #ffffff; }

.medium {
  font-weight: 500; }

.upper {
  text-transform: uppercase; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.bold {
  font-weight: 800; }

.black {
  font-weight: 900; }

.block {
  display: block; }

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 990px) {
  .hidden-md {
    display: none !important; } }

.no-pad-top {
  padding-top: 0; }

.-border-bot {
  border-bottom: 1px solid #e9e9e9; }

.-border-top {
  border-top: 1px solid #e9e9e9; }

.box {
  width: 100%;
  overflow: hidden;
  margin: 1em 0;
  padding: 4em 12%;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0 40px 100px 0 rgba(51, 102, 255, 0.25);
  box-shadow: 0 40px 100px 0 rgba(51, 102, 255, 0.25); }
  .box *:first-child {
    margin-top: 0; }
  .box *:last-child {
    margin-bottom: 0; }

.underline {
  position: relative; }
  .underline:before {
    content: "";
    bottom: 1px;
    width: 100%;
    height: .02em;
    background: #333333;
    position: absolute; }

.text-shadow {
  text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff, 1px 1px 1px #fff; }

.svg--mask {
  z-index: -1;
  width: 100%;
  position: absolute; }

.svg--clipped {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath); }

.svg--full-size {
  width: 100%;
  height: 100%; }

.js-lottie {
  height: 10em; }

.bg--blue, .bg--green {
  overflow: hidden;
  position: relative; }
  .bg--blue #login-mask, .bg--green #login-mask {
    z-index: 1; }

.bg--blue {
  background: #3366ff; }

.bg--green {
  background: #3abe66; }

.slider .slick-prev, .slider .slick-next {
  z-index: 5; }
  .slider .slick-prev::before, .slider .slick-next::before {
    content: "";
    opacity: 1;
    width: 1em;
    height: .8em;
    display: block;
    background: url(../img/slider-arrow.svg) no-repeat center;
    background-size: contain; }

.slider .slick-prev::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.slider .slick-next {
  right: 0; }

.slider .slick-prev {
  left: 0; }

.slider .slick-disabled {
  display: none !important; }

.slider .slick-dots {
  bottom: -40px; }
  .slider .slick-dots li {
    height: 10px;
    width: 8px; }
    .slider .slick-dots li button {
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #3366ff; }
      .slider .slick-dots li button::before {
        content: ""; }
    .slider .slick-dots li.slick-active button {
      background-color: #3366ff; }

.navbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  padding: 0;
  background-color: transparent;
  -moz-transition: color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-transition: color 0.15s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out; }
  .navbar .container {
    height: 8rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media (max-width: 991px) {
      .navbar .container {
        height: 4.5rem; } }
  .navbar-brand {
    width: 5.75rem;
    height: 6rem;
    padding: 0;
    margin-right: .5em; }
    @media (max-width: 991px) {
      .navbar-brand {
        margin-left: 8%;
        height: 3.5rem; } }
    @media (max-width: 480px) {
      .navbar-brand {
        margin-left: 5%; } }
  .navbar #logo {
    height: 100%;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .navbar #logo * {
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    .navbar #logo .logo-text {
      fill: #ff5500; }
      .navbar #logo .logo-text.red {
        fill: #ff0041; }
      .navbar #logo .logo-text.blue {
        fill: #3366ff; }
    .navbar #logo .logo-circle {
      fill: #ffffff; }
  .navbar .navbar-toggler {
    height: 1.5625rem;
    width: 1.875rem;
    padding: 0;
    position: relative; }
    .navbar .navbar-toggler .icon-bar {
      width: 1.875rem;
      display: block;
      background: #ffffff;
      border-radius: 5px;
      position: absolute;
      height: calc(20px / 5);
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .navbar .navbar-toggler .icon-bar:nth-of-type(1) {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 10% 100%;
        -ms-transform-origin: 10% 100%;
        transform-origin: 10% 100%; }
      .navbar .navbar-toggler .icon-bar:nth-of-type(2) {
        top: 9px;
        opacity: 0;
        filter: alpha(opacity=0); }
      .navbar .navbar-toggler .icon-bar:nth-of-type(3) {
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 10% 0%;
        -ms-transform-origin: 10% 0%;
        transform-origin: 10% 0%; }
    .navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
      outline: 0; }
    @media (max-width: 991px) {
      .navbar .navbar-toggler {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 8%; } }
    @media (max-width: 480px) {
      .navbar .navbar-toggler {
        margin-right: 5%; } }
    .navbar .navbar-toggler.collapsed .icon-bar {
      background: #ffffff;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
        top: 0; }
      .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
        top: 9px;
        opacity: 1; }
      .navbar .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
        top: 18px; }
  .navbar .navbar-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .navbar .nav-item:first-child {
      margin-right: auto; }
  .navbar .nav-link {
    margin: 0 1.5em;
    color: #ffffff;
    padding: .1em 0 !important; }
    .navbar .nav-link.-underline {
      border-bottom: 1px solid;
      border-color: inherit; }
  .navbar .btn {
    font-size: 1em;
    margin-left: 1.8em;
    padding: 0 2.5em;
    height: 2.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .navbar.-scrolled {
    top: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.2); }
    .navbar.-scrolled .container {
      height: 4em; }
      @media (max-width: 991px) {
        .navbar.-scrolled .container {
          height: 4.5rem; } }
    .navbar.-scrolled .navbar-brand {
      height: 4rem; }
      @media (max-width: 991px) {
        .navbar.-scrolled .navbar-brand {
          height: 3.5rem; } }
    .navbar.-scrolled #logo .logo-text {
      fill: #3366ff; }
    .navbar.-scrolled #logo .logo-circle {
      opacity: 0; }
    @media (max-width: 991px) {
      .navbar.-scrolled #logo .logo-text {
        fill: #ffffff; }
      .navbar.-scrolled #logo .logo-circle {
        fill: #3366ff;
        opacity: 1; } }
    .navbar.-scrolled .navbar-toggler .icon-bar {
      background: #3366ff; }
    .navbar.-scrolled .btn {
      -webkit-box-shadow: none;
      box-shadow: none; }
      @media (min-width: 992px) {
        .navbar.-scrolled .btn {
          height: 2.1875rem; } }
      .navbar.-scrolled .btn--border {
        color: #3366ff;
        border-color: rgba(51, 102, 255, 0.5);
        background-color: transparent; }
        .navbar.-scrolled .btn--border:hover {
          border-color: #3366ff; }
    .navbar.-scrolled .nav-link {
      color: #333333; }
      .navbar.-scrolled .nav-link:hover {
        color: #ff5500; }
      .navbar.-scrolled .nav-link.-underline {
        border-color: transparent; }
  @media (max-width: 991px) {
    .navbar .navbar-collapse {
      width: 100%;
      top: 4.5rem;
      position: absolute;
      background: #ffffff;
      -webkit-box-shadow: 0px 40px 70px -14px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 40px 70px -14px rgba(0, 0, 0, 0.2); }
      .navbar .navbar-collapse .navbar-nav {
        padding: 1.5em 8% 2em; }
      .navbar .navbar-collapse .nav-item {
        width: 100%; }
        .navbar .navbar-collapse .nav-item.m-arrow {
          height: 4em;
          position: relative;
          border-bottom: 1px solid #e9e9e9; }
          .navbar .navbar-collapse .nav-item.m-arrow:first-of-type {
            border-top: 1px solid #e9e9e9; }
          .navbar .navbar-collapse .nav-item.m-arrow:nth-of-type(2) {
            margin-bottom: 1em; }
      .navbar .navbar-collapse .nav-link {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #333333;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none; }
        .navbar .navbar-collapse .nav-link::after, .navbar .navbar-collapse .nav-link::before {
          content: "";
          display: block;
          position: absolute; }
        .navbar .navbar-collapse .nav-link::before {
          width: .7rem;
          height: .7rem;
          right: .7em;
          background: url(../img/arrow-right.svg) no-repeat center;
          background-size: contain; }
        .navbar .navbar-collapse .nav-link:after {
          right: 0;
          height: 2rem;
          width: 2rem;
          border-radius: 1em;
          border: 1px solid #333333; }
        .navbar .navbar-collapse .nav-link:hover::after {
          border-color: #ff5500; }
        .navbar .navbar-collapse .nav-link:hover::before {
          background: url(../img/arrow-right_hover.svg) no-repeat center;
          background-size: contain; }
      .navbar .navbar-collapse .btn {
        width: 100%;
        margin: .5em 0;
        max-width: 100%; } }
  .navbar-credility .container {
    height: 5rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 65px 0 rgba(0, 0, 0, 0.2); }
    @media (max-width: 991px) {
      .navbar-credility .container > .brand-logos {
        padding-left: 8%; } }
    @media (max-width: 480px) {
      .navbar-credility .container > .brand-logos {
        padding-left: 5%; } }
  .navbar-credility .logo-credility {
    width: 170px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (max-width: 991px) {
      .navbar-credility .logo-credility {
        width: 120px; } }
  .navbar-credility .navbar-brand {
    height: 5rem;
    margin: 0 .8em; }
    @media (max-width: 991px) {
      .navbar-credility .navbar-brand {
        height: 4rem;
        margin: 0 .2em; }
        .navbar-credility .navbar-brand-credility {
          height: 25px; } }
  .navbar-credility .nav-item {
    margin-left: auto;
    margin-right: 0 !important; }
  .navbar-credility .navbar-toggler.collapsed .icon-bar,
  .navbar-credility .navbar-toggler .icon-bar {
    background: #22313F; }
  .navbar-credility.-scrolled .navbar-brand {
    height: 4rem; }
    @media (max-width: 640px) {
      .navbar-credility.-scrolled .navbar-brand {
        margin: 0 .2em; } }
  .navbar-credility.-scrolled .logo-credility {
    width: 140px; }
    @media (max-width: 640px) {
      .navbar-credility.-scrolled .logo-credility {
        width: 120px; } }
  .navbar-credility.-scrolled #logo .logo-text {
    fill: #3366ff; }
  .navbar-credility.-scrolled .navbar-toggler.collapsed .icon-bar,
  .navbar-credility.-scrolled .navbar-toggler .icon-bar {
    background: #22313F; }
  .navbar-credility.-scrolled .btn--border-gray {
    height: 2.3125rem !important; }
  @media (max-width: 480px) {
    .navbar .navbar-collapse .navbar-nav {
      padding-left: 5%;
      padding-right: 5%; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #3366ff;
  color: #ffffff; }

::selection {
  background: #3366ff;
  color: #ffffff; }

html {
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  color: #333333;
  background: #ffffff;
  position: relative;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-family: "Roboto", sans-serif; }

p {
  color: #333333; }

a {
  color: inherit;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }

strong, b {
  font-weight: bold !important; }

.bg-gray {
  background: #e9e9e9; }

.box {
  -webkit-box-shadow: 20px 20px 30px 0 rgba(51, 51, 51, 0.15);
  box-shadow: 20px 20px 30px 0 rgba(51, 51, 51, 0.15); }
  @media (max-width: 640px) {
    .box {
      padding: 2em 8%; } }

.container {
  width: 100%;
  max-width: none !important;
  padding: 0 10%; }
  @media (max-width: 640px) {
    .container {
      padding: 0 8%; } }
  @media (min-width: 1224px) {
    .container {
      padding: 0 12%; } }
  @media (min-width: 1824px) {
    .container {
      padding: 0 15%; } }
  @media (max-width: 480px) {
    .container {
      padding: 0 5%; } }

.credility__header {
  height: 31.25rem;
  background: url(../img/credility/hero-credility.jpg) no-repeat center;
  background-size: cover; }
  .credility__header .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .credility__header .title--big {
    font-size: 30px; }
    @media screen and (min-width: 360px) {
      .credility__header .title--big {
        font-size: calc(30px + 25 * ((100vw - 360px) / 1240)); } }
    @media screen and (min-width: 1600px) {
      .credility__header .title--big {
        font-size: 55px; } }
  @media (max-width: 768px) {
    .credility__header {
      height: 37.5rem;
      background: url(../img/credility/header-mobile.svg) no-repeat center;
      background-size: cover; }
      .credility__header .container {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .credility__header .title--big {
        padding-top: 120px;
        line-height: 1.4;
        text-align: left !important; } }

.credility__cards {
  padding-bottom: 14em; }
  .credility__cards .row {
    margin-top: -100px; }
    @media (max-width: 768px) {
      .credility__cards .row {
        margin-top: -460px; }
        .credility__cards .row .box {
          margin-top: 0; }
        .credility__cards .row .col .btn {
          height: 2.5rem; } }
    @media (max-width: 768px) {
      .credility__cards .row {
        margin-top: -360px; } }
  .credility__cards .col .text--highlight {
    margin-bottom: .5rem; }
  .credility__cards .col .btn {
    margin: 1em auto 0; }
  @media (max-width: 768px) {
    .credility__cards .col {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }
  .credility__cards .box {
    padding: 3em 12%; }
    @media (max-width: 1300px) {
      .credility__cards .box {
        padding: 3em 10%; } }
    @media (max-width: 1100px) {
      .credility__cards .box {
        min-height: 21em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media (max-width: 768px) {
      .credility__cards .box {
        padding: 2em 8%;
        min-height: auto; } }

.credility__steps {
  position: relative; }
  .credility__steps::before {
    content: "";
    width: 100%;
    height: 60%;
    z-index: -1;
    bottom: 10%;
    display: block;
    position: absolute;
    background: -webkit-linear-gradient(345deg, #ff0041, #ff5500, #ff5500);
    background: -o-linear-gradient(345deg, #ff0041, #ff5500, #ff5500);
    background: linear-gradient(105deg, #ff0041, #ff5500, #ff5500); }
  .credility__steps .container {
    margin-top: -160px; }
    @media (max-width: 768px) {
      .credility__steps .container {
        margin-top: -200px; } }
  .credility__steps .box {
    padding: 3em 6%; }
    @media (max-width: 640px) {
      .credility__steps .box {
        padding: 2em 8%; } }
  .credility__steps .steps {
    margin-bottom: 4em; }
    @media (max-width: 768px) {
      .credility__steps .steps {
        margin-bottom: 2em; } }
    .credility__steps .steps .row {
      margin-top: 3.5em; }
      @media (max-width: 768px) {
        .credility__steps .steps .row {
          margin-top: 2.5em; } }
    .credility__steps .steps .slick-prev, .credility__steps .steps .slick-next {
      top: 18%; }
      .credility__steps .steps .slick-prev::before, .credility__steps .steps .slick-next::before {
        background: url(../img/credility/slider-arrow.svg) no-repeat center;
        background-size: contain; }
    .credility__steps .steps .slider .slick-next {
      right: 15%; }
    .credility__steps .steps .slider .slick-prev {
      left: 15%; }
    .credility__steps .steps .col {
      width: 28%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 28%;
      flex: 0 0 28%; }
      .credility__steps .steps .col .text {
        line-height: 1.3; }
        .credility__steps .steps .col .text:first-child {
          margin-bottom: 1.5em; }
        @media (max-width: 768px) {
          .credility__steps .steps .col .text {
            width: 80%;
            margin: auto; } }
      .credility__steps .steps .col::before {
        content: "";
        display: block;
        height: 5.3125rem;
        margin-bottom: 1.5em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      .credility__steps .steps .col.c-step-01::before {
        background-image: url(../img/credility/icon-1.svg); }
      .credility__steps .steps .col.c-step-02::before {
        background-image: url(../img/credility/icon-2.svg); }
      .credility__steps .steps .col.c-step-03::before {
        background-image: url(../img/credility/icon-3.svg); }
  .credility__steps .requirements {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .credility__steps .requirements .text {
      width: 20%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%; }
      @media (max-width: 990px) {
        .credility__steps .requirements .text {
          width: 100%;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          padding: 0; } }
    .credility__steps .requirements .row {
      width: 75%; }
      .credility__steps .requirements .row .col {
        width: 30%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-left: 50px;
        position: relative; }
        .credility__steps .requirements .row .col::before {
          content: "";
          left: 0;
          width: 90px;
          height: 35px;
          display: block;
          position: absolute;
          background: url(../img/credility/icon-check.svg) no-repeat left;
          background-size: contain; }
      @media (max-width: 990px) {
        .credility__steps .requirements .row {
          width: 100%;
          margin-top: 1em;
          margin-left: 0;
          margin-right: 0; }
          .credility__steps .requirements .row .col {
            width: 32%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 32%;
            flex: 0 0 32%; } }
      @media (max-width: 640px) {
        .credility__steps .requirements .row .col {
          width: 100%;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          min-height: 4em; } }

.credility__simulate {
  padding: 6em 0 4em; }
  @media (max-width: 640px) {
    .credility__simulate {
      padding: 4em 0; } }
  .credility__simulate form {
    width: 100%;
    margin: auto;
    max-width: 800px; }
  .credility__simulate .label {
    font-size: 1rem;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif; }
    .credility__simulate .label .value {
      font-weight: bold;
      font-size: 1.25rem; }
    @media (max-width: 640px) {
      .credility__simulate .label {
        margin-bottom: .5em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .credility__simulate .label .value {
          margin-top: 1em;
          font-size: 1.125rem;
          margin-left: 0 !important; } }
  .credility__simulate .values {
    color: #cccccc;
    font-weight: bold;
    font-size: 0.75rem;
    margin-bottom: .2em;
    margin-top: -5px; }
    @media (max-width: 640px) {
      .credility__simulate .values {
        margin-top: .5em; } }
  .credility__simulate .form-group {
    margin: 3em 0; }
  

.credility__sponsors {
  padding: 4em 0; }
  .credility__sponsors .logos {
    width: 50%;
    margin: 3em auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .credility__sponsors .logos img {
      height: 2.5rem;
      padding: 0 5%;
      -o-object-fit: contain;
      object-fit: contain; }
      .credility__sponsors .logos img:last-child {
        height: 1.5625rem; }
    @media (max-width: 640px) {
      .credility__sponsors .logos {
        width: 100%; }
        .credility__sponsors .logos img {
          height: 2.1875rem; }
          .credility__sponsors .logos img:last-child {
            height: 1.25rem; } }

.credility__testimonials {
  padding: 4em 0; }
  .credility__testimonials .testimonials {
    margin: auto; }
    .credility__testimonials .testimonials blockquote p {
      max-width: 600px;
      margin: auto; }
      .credility__testimonials .testimonials blockquote p:first-child {
        margin-bottom: 2em; }
      @media (max-width: 990px) {
        .credility__testimonials .testimonials blockquote p {
          padding: 0 10%; } }
    .credility__testimonials .testimonials .slick-dots {
      bottom: 0;
      margin-top: 2em;
      position: relative; }
      .credility__testimonials .testimonials .slick-dots li {
        height: 10px;
        width: 8px;
        margin: 0 6px; }
        .credility__testimonials .testimonials .slick-dots li button {
          padding: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #e9e9e9; }
          .credility__testimonials .testimonials .slick-dots li button::before {
            content: "";
            display: none; }
        .credility__testimonials .testimonials .slick-dots li.slick-active button {
          background-color: #22313F; }
    .credility__testimonials .testimonials .slick-prev, .credility__testimonials .testimonials .slick-next {
      z-index: 5;
      width: 1.5rem;
      height: 100%; }
      .credility__testimonials .testimonials .slick-prev::before, .credility__testimonials .testimonials .slick-next::before {
        content: "";
        opacity: 1;
        width: 1.5em;
        height: 1.2em;
        display: block;
        background: url(../img/credility/arrow-right-gray.svg) no-repeat center;
        background-size: contain;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .credility__testimonials .testimonials .slick-prev:hover::before, .credility__testimonials .testimonials .slick-next:hover::before {
        background: url(../img/credility/arrow-right-gray_hover.svg) no-repeat center;
        background-size: contain; }
      @media (max-width: 640px) {
        .credility__testimonials .testimonials .slick-prev::before, .credility__testimonials .testimonials .slick-next::before {
          width: .8em;
          height: 1em; } }
    .credility__testimonials .testimonials .slick-prev::before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .credility__testimonials .testimonials .slick-next {
      right: 0; }
    .credility__testimonials .testimonials .slick-prev {
      left: 0; }

.credility__logos {
  padding: 4em 0; }
  @media (max-width: 640px) {
    .credility__logos {
      padding: 2.5em 0; } }
  .credility__logos .logos {
    width: 100%;
    height: 48px;
    overflow: hidden;
    margin: .8em -2% 2em; }
    @media (max-width: 640px) {
      .credility__logos .logos {
        height: 48px; } }
    .credility__logos .logos__wrapper {
      overflow-y: hidden;
      overflow-x: scroll;
      margin-bottom: -20px; }
    .credility__logos .logos__img {
      -o-object-fit: contain;
      object-fit: contain; }
      @media (max-width: 990px) {
        .credility__logos .logos__img {
          min-width: 180px;
          margin-right: 1em; } }
      @media (max-width: 640px) {
        .credility__logos .logos__img {
          min-width: 140px; } }

.footer-credility {
  overflow: hidden;
  background-color: #22313F; }
  .footer-credility .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px !important; }
  .footer-credility .footer-logo {
    display: block;
    width: 170px;
    margin: 20px auto; 
    margin-bottom: 20px;}
    @media (max-width: 768px) {
      .footer-credility .footer-logo {
        width: 160px; } }
    @media (max-width: 640px) {
      .footer-credility .footer-logo {
        display: none; } }
  .footer-credility .section-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    margin-bottom: 15px; }
  



  @media (max-width: 640px) {
    .footer-credility .links {
      width: 100%;
      text-align: center;
      margin: 2em 0 1em;
      } }
  
  .footer-credility .link-item-last {
    font-size: 14px;
    line-height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 0px solid rgba(148, 154, 173, 0.2);
    color: #666d73;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif; }
    .footer-credility .link-item-last:hover {
      color: #67809f; }
    @media (max-width: 768px) {
      .footer-credility .link-item-last {
        padding-left: 15px;
        text-align: center;
        padding-right: 15px; } }
    @media (max-width: 640px) {
      .footer-credility .link-item-last {
        width: 100%;
        border: none;
        display: block;
        text-align: center; } }

  .footer-credility .link-item {
    font-size: 14px;
    line-height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid rgba(148, 154, 173, 0.2);
    color: #666d73;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif; }
    .footer-credility .link-item:hover {
      color: #67809f; }
    @media (max-width: 768px) {
      .footer-credility .link-item {
        padding-left: 15px;
        text-align: center;
        padding-right: 15px; } }
    @media (max-width: 640px) {
      .footer-credility .link-item {
        width: 100%;
        border: none;
        display: block;
        text-align: center; } }
  .footer-credility .social-media-link {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    opacity: 0.53;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .footer-credility .social-media-link:hover {
      opacity: 1;
      -webkit-filter: none;
      filter: none; }
    @media (max-width: 768px) {
      .footer-credility .social-media-link {
        width: 25px;
        height: 25px;
        margin-right: 15px; } }
  .footer-credility p {
    margin-top: 0;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #757575;
    font-weight: 300; }
    @media (max-width: 640px) {
      .footer-credility p {
        padding-right: 0;
        padding-left: 0; } }
  .footer-credility .footer-contact {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: small;
    text-align: center;
    line-height: normal; }
    .footer-credility .footer-contact a {
      color: darkgray;
      text-decoration: underline; }
  .footer-credility .small {
    font-size: x-small;
    line-height: normal; }
  .footer-credility .copy {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #666d73;
    font-size: 12px;
    text-align: center; }
    @media (max-width: 640px) {
      .footer-credility .copy {
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #131c25; } }

:root {
  --thumb-size: 20px;
  --bar-height: 5px;
  --slider-border: 10px solid transparent; }
  @media (max-width: 640px) {
    :root {
      --thumb-size: 25px;
      --bar-height: 10px; } }

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb,
input[type='range'] {
  -webkit-appearance: none;
  border-radius: 10px; }

input[type='range'] {
  width: 100%;
  background-clip: content-box;
  margin: 0;
  border-top: var(--slider-border);
  border-bottom: var(--slider-border); }
  input[type='range']:focus {
    outline: none; }
  input[type='range']::-webkit-slider-runnable-track {
    height: var(--bar-height);
    border-radius: 10px;
    background: -webkit-gradient(linear, right top, left top, from(#ff0041), to(#ff5500)) 0 100% no-repeat content-box;
    background: -webkit-linear-gradient(right, #ff0041, #ff5500) 0 100% no-repeat content-box;
    background: linear-gradient(to left, #ff0041, #ff5500) 0 100% no-repeat content-box; }
  input[type='range']::-webkit-slider-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    -webkit-transform: translateY(calc( var(--bar-height)/2 - var(--thumb-size)/2));
    transform: translateY(calc( var(--bar-height)/2 - var(--thumb-size)/2));
    background-color: #ff0041;
    border: none; }
  input[type='range']::-webkit-slider-container {
    background: #e9e9e9;
    border-radius: 10px; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #e9e9e9;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff0041; }

input[type=range]::-moz-range-progress {
  background: #ff0041;
  height: 5px;
  background-image: linear-gradient(to left, #ff0041, #ff5500); }

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #3366ff;
  background-image: linear-gradient(to left, #ff0041, #ff5500); }

input[type=range]::-ms-fill-upper {
  background: #e9e9e9;
  border-radius: 10px; }

input[type=range]::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff0041;
  margin-top: 0; }

input[type=range]:focus::-ms-fill-lower {
  background: #ff0041;
  background-image: linear-gradient(to left, #ff0041, #ff5500); }

input[type=range]:focus::-ms-fill-upper {
  background: #e9e9e9; }





  .switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .switch-label {
    position: relative;
    display: block;
    height: inherit;
    color: #ffffff;
    font-size: 10px;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  }
  .switch-label:before,
  .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    font-size: .7rem;
    color: #ffffff;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
  .switch-label:before {
    content: attr(data-off);
    right: 22%;
    color: #333333;
    opacity: 1;
  }
  .switch-label:after {
    content: attr(data-on);
    left: 22%;
    color: #333333;
    opacity: 1;
  }
  .switch-input:checked ~ .switch-label {
    color: #333333;
    background: #eee;
    opacity: 1;
  }
  .switch-input:checked ~ .switch-label:before {
    color: #333333;
    opacity: 1;
  }
  .switch-input:checked ~ .switch-label:after {
    color: #333333;
    opacity: 1;
  }
  .switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .switch-handle:before {
    content: "";
    position: absolute;
    top: 70%;
    left: 40%;
    margin: -6px 0 0 -6px;
    width: 30%;
    height: 12px;
    font-size: .7rem;
    background: none;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  }
  .switch-input:checked ~ .switch-handle {
    color: #ffffff
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  /* Transition
  ========================== */
  .switch-label,
  .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }
  .switch-flat {
    padding: 0;
    background: #FFF;
    background-image: none;
  }
  .switch-flat .switch-label {
    background: #eee;
    border: solid 2px #eeeeee;
    box-shadow: none;
  }
  .switch-flat .switch-handle {
    top: 0px;
    left: 0px;
    background: #fe4c1e;
    background: -moz-linear-gradient(-45deg, #fe4c1e 0%, #fe003f 100%);
    background: -webkit-linear-gradient(-45deg, #fe4c1e 0%, #fe003f 100%);
    background: linear-gradient(135deg, #fe4c1e 0%, #fe003f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4c1e', endColorstr='#fe003f', GradientType=1);
    width: 50%;
    height: 30px;
    box-shadow: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .switch-flat .switch-handle:before {
    content: attr(data-on);
    color:#ffffff;
  }
  .switch-flat .switch-input:checked ~ .switch-handle {
    left: 50%;
    background: #fe4c1e;
    background: -moz-linear-gradient(-45deg, #fe4c1e 0%, #fe003f 100%);
    background: -webkit-linear-gradient(-45deg, #fe4c1e 0%, #fe003f 100%);
    background: linear-gradient(135deg, #fe4c1e 0%, #fe003f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4c1e', endColorstr='#fe003f', GradientType=1);
    box-shadow: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .switch-flat .switch-input:checked ~ .switch-handle:before {
    content: attr(data-off);
  }