<!-- Trae de layout-->
{% extends "layout.html" %}
{% block content %}

<!-- Estilos -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Credility Back</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

</header><!-- /header -->
<!-- Header-->

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Integración AFIP</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li>Integraciones</a></li>
                    <li><a href="{{ url_for('afip') }}">AFIP</a></li>
                    <li class="active">Respuesta</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Respuesta</strong>  AFIP
                    </div>
                    <div class="card-body">
                        <table class="table">
                            {% for key, value in emitidos.items() %}
                            <tr>
                            <th> {{ key }} </th>
                            <td> {{ value }} </td>
                            </tr>
                            {% endfor %}

                            {% for key, value in recibidos.items() %}
                            <tr>
                            <th> {{ key }} </th>
                            <td> {{ value }} </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card">
                    <form name="nosis_airtable_form" action="{{ url_for('nosisairtable') }}" method="post" class="form-horizontal">    
                        <div class="card-header">
                            <strong>Envio</strong>  Airtable
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Id Scoring</label></div>
                                <div class="col-12 col-md-9"><input type="nosis_sociedad_id" id="nosis_sociedad_id" name="nosis_sociedad_id" placeholder="Id solapa Scoring..." class="form-control"><span class="help-block">Insertar id scoring</span></div>
                            </div>
                            <div class="form-check-inline form-check">
                                <label for="radio1" class="form-check-label ">
                                    <input style="margin-left: 0px" type="radio" id="radio1" name="afip_airtable" value="scoring" class="form-check-input">Emitidos
                                    <input style="margin-left: 10px" type="radio" id="radio1" name="afip_airtable" value="extra" class="form-check-input">Recibidos
                                    <input style="margin-left: 10px" type="radio" id="radio1" name="afip_airtable" value="todos" class="form-check-input" checked >Todos
                                </label>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Enviar
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Detener
                            </button>
                        </div>
                    </form>                   
                </div>
            </div>
        </div>
    </div>
</div>  

{% endblock %}

<!-- Js -->
<script src="../static/vendors/jquery/dist/jquery.min.js"></script>
<script src="../static/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/vendors/chart.js/dist/Chart.bundle.min.js"></script>
<script src="../static/js/dashboard.js"></script>
<script src="../static/js/widgets.js"></script>
<script src="../static/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="../static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="../static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script>
    (function($) {
        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>